<div class="container" >
    <h2>Create your own template:</h2>
    <style>
        #autofillInput input {
            width: 40%;
            display: inline-block;
        }
    </style>
    <form class="form-horizontal" role="form" name="signUpForm" action="/autofill/submitAutofill" method="post">
        <div class="form-group" id="autofillInput" style="display:none">
            <div>
                <input type="input" class="form-control" name="keyword" placeholder="Keyword">
                <input type="input" class="form-control" name="value" placeholder="Value">
            </div>
        </div>
        <div class="form-group" id="autofillInput">
            <div>
                <input type="input" class="form-control" name="categoryName" placeholder="Name of Autofill" style="width: 100%">
            </div>
        </div>
        <div class="form-group">
            <div style="margin: 0 auto; text-align: center">
                <input type="button" class="btn btn-default" style="width: 300px" value="New Category">
            </div>
        </div>
        <div class="form-group">
            <div style="margin: 0 auto; text-align: center">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
</div>
<script>
    $('form').on('keyup keypress', function(e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode === 13) {
            e.preventDefault();
            return false;
        }
    });

    $('input.btn').click(function() {
        cloneAutoFill();
    })

    var formNum = 0;
    function cloneAutoFill() {
        var objectToClone = $('div#autofillInput').first();
        var newObject = objectToClone.clone().insertBefore('input.btn').css('display', 'block');
        var inputs = newObject.find($('input'));
        var i = 0;
        inputs.each(function() {
          var targetInput = objectToClone.find($('input')).eq(i);
          $(this).attr('name', targetInput.attr('name') + formNum);
          i++;
        })

        formNum++;

        $('.form-control').keydown(function(e) {
            if (e.which === 13) {
                var index = $('.form-control').index(this) + 1;
                $('.form-control').eq(index).focus();
            }
        });
    }

    cloneAutoFill();

    $(function() {
        $('#form').submit(function() {
            // DO STUFF
            return true; // return false to cancel form action
        });
    });
</script>
