<div class="game" ng-controller="GameController" keypress-events>
  <div class="pick-song" ng-hide="audio != null">
    <div class="header">
      <h1>Audio Visualizer</h1>
      <p>It's better to pick a song from our records. However, our algorithm will still generate 30 seconds of playtime for unlisted songs.</p>
      <input placeholder="Search For A Song"></input>
      <ul>
        <li ng-repeat="track in searchedTracks"><a ng-click="selectTrack(track)">{{ track.name }} by {{ track.artists }}</a></li>
      </ul>
    </div>
  </div>
  <div class="debugger">
    <h3>{{ name }}</h3>
    <h3>{{ artists }}</h3>
    <button id="play" ng-click="startGame()" ng-hide="audio == null">{{ audioState }}</button>
    <p>{{ upcomingnotes }}</p>
  </div>
  <div class="foreground">
    <div class="drum">
    </div>
  </div>
</div>
