<div id="dashboard">
	<% if(!locals.step) { %>
		<section id="fh5co-home" data-section="home" style="background-image: url('images/full_image_2.jpg'); background-position: 0px 0px;" data-stellar-background-ratio="0.5" class="animated">
			<div class="gradient"></div>
			<div class="container">
				<div class="text-wrap">
					<div class="text-inner">
						<div class="row">
							<div class="col-md-8 col-md-offset-2">
								<h1 style="margin-bottom: 40px">Your PDF File:</h1>
								<form enctype="multipart/form-data" name="documentSubmit" action="/formatter/submit" method="post">
									<input type="file" name="pdf" accept="/*.pdf" style="margin: 0 auto; text-align: center; width: 170px; font-size: 12px;">
									<input type="submit" class="btn btn-primary" style="margin-top: 80px;">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<% } else { %>
			<section id="fh5co-home" data-section="home" style="background-image: url(&quot;images/full_image_2.jpg&quot;); background-position: 0px 0px;" data-stellar-background-ratio="0.5" class="animated">
				<div class="gradient"></div>
				<div class="container">
					<div class="text-wrap" style="margin-top: 100px">
						<div class="text-inner-dashboard">
							<div class="row">
								<div class="col-md-8 col-md-offset-2">
									<h1>Settings:</h1>
									<div class="settings">
										<ul>Name: </ul>
										<ul>Date: </ul>
										<ul>Address: </ul>
										<ul>Etc:</ul>
									</div>
									<a href="/auth/profile" class="btn btn-primary" style="margin-top: 30px;">Next</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="fh5co-home" style="background-color: rgb(30, 30, 30); height: auto; padding-bottom: 80px;" data-stellar-background-ratio="0.5" class="animated">
				<div class="container">
					<div class="text-wrap" style="margin-top: 80px; height: auto">
						<div class="text-inner-dashboard">
							<div class="row">
								<div class="col-md-8 col-md-offset-2">
									<h1>Your PDF File:</h1>
									<input style="margin: 0 auto; display: block"></input>
									<a href="/auth/profile" class="btn btn-primary" style="margin-top: 30px;">Process</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<% } %>
</div>
