div.editor {
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 2000;
  overflow-y:scroll;
}

div.generate-song {
  margin: 20px;
  input#query {
    width: 100%;
  }
  input[type="submit"] {
  }
}
div.tracks-list {
  a {
    width: auto;
  }
}
div.edit-song-gui {
  max-width: 800px;
  width: 100%;
  margin: 20px;
  box-sizing: border-box;
  position:relative;
  div#result {
    margin-bottom: 5px;
  }
  div.timeline-hover-info {
    position:relative;
    display: inline-block;
  }
  div.timeline-tools {
    float: right;
    position: relative;
    span {
      margin-left: 5px;
      cursor: pointer;
    }
  }
  div.add-note {
    font-size: 14px;
    h1 {
      color: #43A047;
      font-size: 20px;
      margin-bottom: 10px;
    }
    margin-bottom: 20px;
  }
  div.delete-note-list {
    font-size: 14px;
    h1 {
      color: #e53935;
      font-size: 20px;
      margin-bottom: 10px;
    }
    hr {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    div.note {
      span.delete {
        position: absolute;
        left: 2px;
        top: -5px;
        font-weight:bold;
      }
      width: 45px;
      text-align: center;
      position:relative;
      display: inline-block;
      padding: 10px;
      background-color: #e57373;
      cursor: pointer;
      color: white;
      margin: 2px;
    }
    div.m {
      display: block;
      div.note {
        background-color: #1E88E5;
      }
    }
  }
  div#timeline {
    width: 100%;
    height: 120px;
    position: relative;
    overflow-x:scroll;
    div#timeline-content {
      width: 100%;
      height: 100%;
      border: 1px #212121 solid;
      box-sizing: border-box;
      position:relative;
      div.current-time {
        height: 100%;
        width: 1px;
        background-color: green;
        position: absolute;
        left: 0%;
      }
      div.tick {
        height: 100%;
        width: 2px;
        background-color: #212121;
        position: absolute;
        cursor: pointer;
        &.true {
          background-color: #1E88E5;
        }
        &.selected {
          z-index: 1000;
          background-color: #e53935;
          width: 2px;
        }
      }
    }
  }
}
